style
div {
    text-align: center;
    font-size: 16px;
    color: blanchedalmond;
}

body{
    background-color: indianred;
}
.img{
    text-align: center;
}
h1{
    text-align: center;
    color: aliceblue;
}
